---
import { Image } from "astro:assets";

---
<section class="bg-gradient-to-r from-accent to-base-100">
    <div
        class="items-center max-w-screen-xl gap-16 px-4 py-8 mx-auto lg:grid lg:grid-cols-2 lg:py-16 lg:px-6"
    >
        <div class="font-light text-black sm:text-lg">
            <h2
                class="mb-4 text-4xl font-extrabold tracking-tight text-primary"
            >
                At Innovative Roofing,
            </h2>
            <p class="mb-4 text-black">
                we understand that your roof is more than just a functional
                component of your property - it's a vital part of your
                investment, protecting your assets and providing a safe and
                comfortable environment for you and your family. That's why we
                take pride in offering a wide range of roofing services tailored
                to meet your unique needs.
            </p>
            <p>
                From new roof installations to repairs and maintenance, we use
                only the highest quality materials and cutting-edge techniques
                to ensure that your roof is built to last. We offer a wide range
                of roofing materials, including asphalt shingles, metal roofing,
                and flat roofing, so you can choose the perfect solution for
                your specific needs.
            </p>
        </div>
        <div class="grid grid-cols-2 gap-4 mt-8">
            <Image
                class="w-full rounded-lg"
                src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-2.png"
                alt="office content 1"
                width={251}
                height={348}
                format="avif"
            />
            <Image
                class="w-full mt-4 rounded-lg lg:mt-10"
                src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-1.png"
                alt="office content 2"
                width={251}
                height={348}
                format="avif"
            />
        </div>
    </div>
</section>
