---
// component import
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
// style import

const { title, description, } = Astro.props;
---

<html data-theme="fantasy" lang="en">
  <BaseHead {title} {description} />
  <body class="font-mono font-Nunito">
    <Nav />
    <main>
      <slot> Default Text</slot>
    </main>
    <Footer />
    <script src="/src/app.js"></script>
  </body>
</html>
